/* Iniciamos el css */

h1 {
  color: black;
}

p {
  color: darkblue;
  font-size: 30;
}

#Primera-noticia {
  color: yellow;
  font-size: 20;
}

#Segunda-noticia {
  color: green;
  font-size: 25;
}

.encabezado {
  font-size: 30pt;
  text-transform: uppercase;
}

*.warning {
  color: red;
}

.autor,
.libro,
.ubicacion {
  text-decoration-line: underline;
}